<%= form_with(model: project) do |form| %>  


  <% if project.errors.any? %>
    <div class="notif_sementara" style="color: red;">
      <h2><%= pluralize(project.errors.count, "Error") %> prohibited this project from being saved:</h2>

      <ul style="list-decoration: none;">
        <% project.errors.each.with_index(1) do |error, number| %>
          <li><%= number %>. <%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form_main">
    <div> 
      <%= form.label :tittle, class: "form_label" %>
      <%= form.text_field :tittle, class: "form_input" %>
    </div>

    <div>
      <%= form.label :description, class: "form_label" %>
      <%= form.textarea :description, class: "form_input" %>
    </div>

    <div>
      <%= form.label :deadline, class: "form_label" %>
      <%= form.date_field :deadline, class: "form_input" %>
    </div>

    <%= form.submit "Save Project", class: "btn_submit" %>

  </div>

  
<% end %>
