<center><h1>List Project</h1></center>


<div class="border_main">
  <% @projects.each do |project| %> 
    <div class="project_card <%= project.status_warna_border %>"> 

      <h3 class="tittle-card">
        <%= project.tittle %>
      </h3>

      <div class="card_content">

        <p><strong>Start : 
          <%= project.created_at.to_date %> 
          </strong>
        </p>
        <p>
          <strong>Deadline : 
            <%= project.deadline %> 
          </strong>
        </p>
        <p>
          <strong>Status : 
            <span class="<%= project.status_warna_text %>">
              <%= project.status_text %>
            </span>
          </strong>
        </p>

        <div class="description_box ">
          <strong>Description : </strong>
          <div class="description_content">
              <p><%= project.description %></p>
          </div>
        </div>
        
        <div class="button-container flex">
          <%= link_to 'Edit', edit_project_path(project), class: "btn btn-primary" %>
          <%= link_to 'Detail Project', project_path(project), class: "btn btn-primary" %>
          <%= button_to 'X', project_path(project), method: :delete, class: "btn btn-primary btn_hapus" %>
        </div>
      </div>
    </div>
  <% end %>

</div>

<center>
  <div class="button_create">
    <%= link_to 'CREATE PROJECT', new_project_path, class: "btn btn-primary " %>
  </div>
</center>